<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>
        <h1>About</h1>
        <p>These are the awesome details about my page.</p>
        <p>The Car Prediction Dataset includes details about different cars such as their name, manufacturing year, selling price, kilometers driven, fuel type, transmission type, number of owners, mileage, and seating capacity. These attributes are crucial factors that influence the pricing and market demand for cars.</p>
   <h4>Column names and Data types:</h4>
        <ul>
    <li>Car Name - String</li>
    <li>Year - Integer</li>
    <li>Selling Price - Integer</li>
    <li>KM Driven - Integer</li>
    <li>Fuel - String</li>
    <li>Transmission - String</li>
    <li>Owner - String</li>
    <li>Mileage - Float</li>
    <li>Seats - Integer</li>
   </ul>
    </body>
</html>